$def with(datalist, one_cpu, one_fps, one_pss,two_cpu, two_fps, two_pss,one_cpu_AverageDATA, one_fps_AverageDATA, one_pss_AverageDATA,two_cpu_AverageDATA, two_fps_AverageDATA, two_pss_AverageDATA,one_name,two_name)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>性能横向对比测试表</title>
    <script type="text/javascript" src="static/jquery-1.7.2.js" ></script>
    <script type="text/javascript" src="static/Chart.js"></script>
</head>
<body>

    <div style="margin: auto;width: 800px">
        <br><br>
        <table  border="1" class="datalist">
            <tr>
                <td>序号</td>
                <td>产品名称</td>
                <td>CPU消耗值</td>
                <td>内存（PSS）消耗值</td>
                <td>FPS平均帧数</td>
            </tr>

            <tr>
                <td style="text-align: center">1</td>
                <td>$:one_name</td>
                <td style="text-align: center">$:one_cpu_AverageDATA %</td>
                <td style="text-align: center">$:one_pss_AverageDATA Mb</td>
                <td style="text-align: center">$:one_fps_AverageDATA Fps</td>
            </tr>

            <tr>
                <td style="text-align: center">2</td>
                <td>$:two_name</td>
                <td style="text-align: center">$:two_cpu_AverageDATA %</td>
                <td style="text-align: center">$:two_pss_AverageDATA Mb</td>
                <td style="text-align: center">$:two_fps_AverageDATA Fps</td>
            </tr>
        </table>
        <br><br>
    </div>

    <div style="margin: auto">
        <canvas id="myChartLines"></canvas>
    </div>

    <script>
        var ctx = document.getElementById("myChartLines").getContext('2d');
        var myChart = new Chart(ctx, {
            type:"line",
            data:{
                    labels:$:datalist,
                    datasets: [{
                        label:"$:one_name CPU",
                        data:$:one_cpu,
                        fill:false,
                        borderColor:"rgb(255,215,0)",
                        lineTension:0.1
                    },{
                        label:"$:one_name 内存",
                        data:$:one_pss,
                        fill:false,
                        borderColor:"rgb(30,144,255)",
                        lineTension:0.1
                    },{
                        label:"$:one_name FPS",
                        data:$:one_fps,
                        fill:false,
                        borderColor:"rgb(0,255,0)",
                        lineTension:0.1
                    },{
                        label:"$:two_name CPU",
                        data:$:two_cpu,
                        fill:false,
                        borderColor:"rgb(255,165,0)",
                        lineTension:0.1
                    },{
                        label:"$:two_name 内存",
                        data:$:two_pss,
                        fill:false,
                        borderColor:"rgb(0,0,255)",
                        lineTension:0.1
                    },{
                        label:"$:two_name FPS",
                        data:$:two_fps,
                        fill:false,
                        borderColor:"rgb(0,100,0)",
                        lineTension:0.1
                    }]
            },
            options:{}
            });
    </script>
</body>
</html>